<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Photo Manager</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Photos
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover" id="photo-index">
            <thead>
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>User name</th>
                <th>Comments</th>
                <th>Likes</th>
                <th>Created at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% @photos.each do |photo| %>
              <tr>
                <td><%= photo.id %></td>
                <td><img src="<%= photo.image %>" alt="" class="img-thumbnail"
                    style="width: 250px;max-height: 300px;"></td>
                <td><%= photo.user.username %></td>
                <td><%= photo.comments.count %></td>
                <td><%= photo.likes.count %></td>
                <td><time class="timeago" datetime="<%= photo.created_at.strftime("%FT%T%z") %>"><%= photo.created_at.strftime("%FT%T%z") %></time></td>
                <td>
                    <%= link_to "Show", admin_photo_path(photo), class: "btn btn-info"  %>
                    <%= link_to "Edit", edit_admin_photo_path(photo), class: "btn btn-success"  %>
                    <%= link_to "Delete", "#{}", class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>