<li class="notify-block">
  <div class="row">
    <div class="col-md-2 notify-sender">
      <%= link_to user_path(notify.sender) do %>
        <%= image_tag notify.sender.avatar %>
      <% end %>
    </div>
    <div class="col-md-8 notify-content">
      <% comment = Comment.find_by id: notify.entity_id %>
      <strong><%= notify.sender.username %></strong>
      mentioned you in a comment:
      "<%= comment.content.truncate(40) %>"
    </div>
    <div class="col-md-2 notify-owner">
      <% if comment %>
        <a class="frame-photo" data-photo-id="<%= comment.photo.id %>" data-toggle="modal" data-target="#myModal">
          <%= image_tag comment.photo.image, class:"image-owner"  %>
        </a>
      <% end %>
    </div>
  </div>
</li>
