<li class="notify-block">
  <div class="row">
    <div class="col-md-2 notify-sender">
      <%= link_to user_path(notify.sender) do %>
        <%= image_tag notify.sender.avatar %>
      <% end %>
    </div>
    <div class="col-md-8 notify-content">
      <% like = Like.find_by id: notify.entity_id %>
      <strong><%= notify.sender.username %></strong>
      liked your photo.
    </div>
    <div class="col-md-2 notify-owner">
      <% if like %>
        <a class="frame-photo" data-photo-id="<%= like.photo.id %>" data-toggle="modal" data-target="#myModal">
          <%= image_tag like.photo.image, class:"image-owner"  %>
        </a>
      <% end %>
    </div>
  </div>
</li>
