
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="row user-information">
      <div class="col-md-4 col-xs-4">
        <div class="avatar-user">
          <% if @user.avatar %>
            <%= image_tag @user.avatar %>
          <% else %>
            <%= image_tag "http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-knives-ninja.png" %>
          <% end %>
          <% if current_user == @user %>
            <button type="button" class="show-icon-change-image" data-toggle="modal"
              data-target="#myModal"  data-link="<%= edit_user_path(current_user) %>">
              <%= icon "camera" %>
            </button>
          <% end %>
        </div>
      </div>

      <div class="col-md-8 col-xs-8">
        <div class="user-name">
          <h1><%= @user.username %></h1>
          <div class="follow">
            <% if current_user == @user %>
              <%= link_to "Edit profile", profile_path(@user), class: "edit-profile" %>
              <%= link_to edit_user_registration_path, class: "control-account" do %>
                <%= icon "cog" %>
                <div class="menu-setting">
                  <%= link_to "Log out", destroy_user_session_path  %>
                </div>
              <% end %>
            <% else %>
              <span class="block-follow">
                <%= render partial: "follow_form", locals: {user: @user} %>
              </span>
              <%= link_to icon("ellipsis-h"), "#", class: "control-account" %>
            <% end %>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="photos-infor">
          <span><strong><%= @user.photos.size %></strong> photos</span>
          <span><strong><%= @user.followers.size %></strong> followers</span>
          <span><strong><%= @user.followings.size %></strong> followings</span>
        </div>
        <div class="sologan">
          <h3><%= @user.email %></h3>
        </div>
      </div>
    </div>
    <br>
    <div class="photo-of-user">
      <div class="row">
        <%= render partial: "photos", locals: {photos: @user.photos.includes(:likes, :comments)} %>
      </div>
    </div>
  </div>
</div>
