  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @users.count %></div>
              <div>User manager</div>
            </div>
          </div>
        </div>
        <a href="<%= admin_users_path %>">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @photos.count %></div>
              <div>Photo Manager!</div>
            </div>
          </div>
        </div>
        <a href="<%= admin_photos_path %>">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @reports.count %></div>
              <div>Reports!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">13</div>
              <div>Support Tickets!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <svg height="342" version="1.1" width="985" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
              <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
              <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
              <text x="51.515625" y="308" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M64.015625,308H960.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <text x="51.515625" y="237.25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M64.015625,237.25H960.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <text x="51.515625" y="166.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M64.015625,166.5H960.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <text x="51.515625" y="95.75" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M64.015625,95.75H960.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <text x="51.515625" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M64.015625,25H960.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <text x="960.328125" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-06</tspan>
              </text>
              <text x="860.1328030072904" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-03</tspan>
              </text>
              <text x="761.0265606014581" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-12</tspan>
              </text>
              <text x="661.9203181956258" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-09</tspan>
              </text>
              <text x="561.7249962029161" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-06</tspan>
              </text>
              <text x="461.52967421020657" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-03</tspan>
              </text>
              <text x="363.5125113912515" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-12</tspan>
              </text>
              <text x="264.40626898541916" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-09</tspan>
              </text>
              <text x="164.21094699270958" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-06</tspan>
              </text>
              <text x="64.015625" y="320.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-03</tspan>
              </text>
              <path fill="#7cb57c" stroke="none" d="M64.015625,257.8807C89.0644554981774,252.69236666666666,139.1621164945322,241.9253958333333,164.21094699270958,237.12736666666666C189.25977749088696,232.3293375,239.35743848724178,226.06474717668488,264.40626898541916,219.49646666666666C289.18282958687723,212.9995805100182,338.73595078979343,186.80528908839776,363.5125113912515,184.86669999999998C388.0168020959903,182.94941408839776,437.0253835054678,202.66302023809524,461.52967421020657,204.07296666666667C486.57850470838395,205.51424523809524,536.6761657047388,195.3117583333333,561.7249962029161,196.27159999999998C586.7738267010935,197.23144166666665,636.8714876974484,228.79010418943534,661.9203181956258,211.7517C686.6968787970839,194.89849585610202,736.25,68.92631666666665,761.0265606014581,60.705166666666656C785.8031212029161,52.484016666666655,835.3562424058323,133.9280789162113,860.1328030072904,145.9825C885.1816335054677,158.16938724954463,935.2792945018226,154.748425,960.328125,157.6704L960.328125,308L64.015625,308Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
              <path fill="none" stroke="#4da74d" d="M64.015625,257.8807C89.0644554981774,252.69236666666666,139.1621164945322,241.9253958333333,164.21094699270958,237.12736666666666C189.25977749088696,232.3293375,239.35743848724178,226.06474717668488,264.40626898541916,219.49646666666666C289.18282958687723,212.9995805100182,338.73595078979343,186.80528908839776,363.5125113912515,184.86669999999998C388.0168020959903,182.94941408839776,437.0253835054678,202.66302023809524,461.52967421020657,204.07296666666667C486.57850470838395,205.51424523809524,536.6761657047388,195.3117583333333,561.7249962029161,196.27159999999998C586.7738267010935,197.23144166666665,636.8714876974484,228.79010418943534,661.9203181956258,211.7517C686.6968787970839,194.89849585610202,736.25,68.92631666666665,761.0265606014581,60.705166666666656C785.8031212029161,52.484016666666655,835.3562424058323,133.9280789162113,860.1328030072904,145.9825C885.1816335054677,158.16938724954463,935.2792945018226,154.748425,960.328125,157.6704" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <circle cx="64.015625" cy="257.8807" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="164.21094699270958" cy="237.12736666666666" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="264.40626898541916" cy="219.49646666666666" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="363.5125113912515" cy="184.86669999999998" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="461.52967421020657" cy="204.07296666666667" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="561.7249962029161" cy="196.27159999999998" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="661.9203181956258" cy="211.7517" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="761.0265606014581" cy="60.705166666666656" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="860.1328030072904" cy="145.9825" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="960.328125" cy="157.6704" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <path fill="#a8b4bd" stroke="none" d="M64.015625,282.8507333333333C89.0644554981774,277.1765833333333,139.1621164945322,265.12432083333334,164.21094699270958,260.15413333333333C189.25977749088696,255.18394583333333,239.35743848724178,245.80665191256827,264.40626898541916,243.0892333333333C289.18282958687723,240.4013519125683,338.73595078979343,240.71814415285453,363.5125113912515,238.53293333333335C388.0168020959903,236.3717358195212,437.0253835054678,228.73457664835163,461.52967421020657,225.7036C486.57850470838395,222.6052683150183,536.6761657047388,213.88717083333333,561.7249962029161,214.01569999999998C586.7738267010935,214.14422916666666,636.8714876974484,239.86483752276868,661.9203181956258,226.73183333333333C686.6968787970839,213.74157918943533,736.25,117.22498333333331,761.0265606014581,109.52266666666665C785.8031212029161,101.82034999999999,835.3562424058323,157.02737399817852,860.1328030072904,165.1133C885.1816335054677,173.28808233151184,935.2792945018226,172.20245,960.328125,174.5655L960.328125,308L64.015625,308Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
              <path fill="none" stroke="#7a92a3" d="M64.015625,282.8507333333333C89.0644554981774,277.1765833333333,139.1621164945322,265.12432083333334,164.21094699270958,260.15413333333333C189.25977749088696,255.18394583333333,239.35743848724178,245.80665191256827,264.40626898541916,243.0892333333333C289.18282958687723,240.4013519125683,338.73595078979343,240.71814415285453,363.5125113912515,238.53293333333335C388.0168020959903,236.3717358195212,437.0253835054678,228.73457664835163,461.52967421020657,225.7036C486.57850470838395,222.6052683150183,536.6761657047388,213.88717083333333,561.7249962029161,214.01569999999998C586.7738267010935,214.14422916666666,636.8714876974484,239.86483752276868,661.9203181956258,226.73183333333333C686.6968787970839,213.74157918943533,736.25,117.22498333333331,761.0265606014581,109.52266666666665C785.8031212029161,101.82034999999999,835.3562424058323,157.02737399817852,860.1328030072904,165.1133C885.1816335054677,173.28808233151184,935.2792945018226,172.20245,960.328125,174.5655" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <circle cx="64.015625" cy="282.8507333333333" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="164.21094699270958" cy="260.15413333333333" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="264.40626898541916" cy="243.0892333333333" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="363.5125113912515" cy="238.53293333333335" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="461.52967421020657" cy="225.7036" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="561.7249962029161" cy="214.01569999999998" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="661.9203181956258" cy="226.73183333333333" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="761.0265606014581" cy="109.52266666666665" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="860.1328030072904" cy="165.1133" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="960.328125" cy="174.5655" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <path fill="#2677b5" stroke="none" d="M64.015625,282.8507333333333C89.0644554981774,282.5866,139.1621164945322,284.44260833333334,164.21094699270958,281.7942C189.25977749088696,279.14579166666664,239.35743848724178,262.8360351548269,264.40626898541916,261.66346666666664C289.18282958687723,260.50364348816026,338.73595078979343,274.71505662983424,363.5125113912515,272.4646333333333C388.0168020959903,270.2389399631676,437.0253835054678,245.97829532967035,461.52967421020657,243.75900000000001C486.57850470838395,241.490386996337,536.6761657047388,252.16645833333334,561.7249962029161,254.513C586.7738267010935,256.8595416666667,636.8714876974484,273.67962604735885,661.9203181956258,262.53133333333335C686.6968787970839,251.50421771402551,736.25,172.7295375,761.0265606014581,165.81136666666666C785.8031212029161,158.89319583333332,835.3562424058323,199.3979123406193,860.1328030072904,207.18596666666667C885.1816335054677,215.059604007286,935.2792945018226,223.14009166666668,960.328125,228.45813333333334L960.328125,308L64.015625,308Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
              <path fill="none" stroke="#0b62a4" d="M64.015625,282.8507333333333C89.0644554981774,282.5866,139.1621164945322,284.44260833333334,164.21094699270958,281.7942C189.25977749088696,279.14579166666664,239.35743848724178,262.8360351548269,264.40626898541916,261.66346666666664C289.18282958687723,260.50364348816026,338.73595078979343,274.71505662983424,363.5125113912515,272.4646333333333C388.0168020959903,270.2389399631676,437.0253835054678,245.97829532967035,461.52967421020657,243.75900000000001C486.57850470838395,241.490386996337,536.6761657047388,252.16645833333334,561.7249962029161,254.513C586.7738267010935,256.8595416666667,636.8714876974484,273.67962604735885,661.9203181956258,262.53133333333335C686.6968787970839,251.50421771402551,736.25,172.7295375,761.0265606014581,165.81136666666666C785.8031212029161,158.89319583333332,835.3562424058323,199.3979123406193,860.1328030072904,207.18596666666667C885.1816335054677,215.059604007286,935.2792945018226,223.14009166666668,960.328125,228.45813333333334" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
              <circle cx="64.015625" cy="282.8507333333333" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="164.21094699270958" cy="281.7942" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="264.40626898541916" cy="261.66346666666664" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="363.5125113912515" cy="272.4646333333333" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="461.52967421020657" cy="243.75900000000001" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="561.7249962029161" cy="254.513" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="661.9203181956258" cy="262.53133333333335" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="761.0265606014581" cy="165.81136666666666" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="860.1328030072904" cy="207.18596666666667" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
              <circle cx="960.328125" cy="228.45813333333334" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
            </svg>
            <div class="morris-hover morris-default-style" style="left: 208.375px; top: 158px; display: none;">
              <div class="morris-hover-row-label">2010 Q3</div>
              <div class="morris-hover-point" style="color: #0b62a4">
                iPhone: 4,912
              </div>
              <div class="morris-hover-point" style="color: #7A92A3">
                iPad: 1,969
              </div>
              <div class="morris-hover-point" style="color: #4da74d">
                iPod Touch: 2,501
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bell fa-fw"></i> Notifications Panel
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <i class="fa fa-comment fa-fw"></i> New Comment
              <span class="pull-right text-muted small">
                <em>4 minutes ago</em>
              </span>
            </a>
          </div>
          <!-- /.list-group -->
          <a href="#" class="btn btn-default btn-block">View All Alerts</a>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      <div class="chat-panel panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-comments fa-fw"></i> Chat
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-chevron-down"></i>
            </button>
            <ul class="dropdown-menu slidedown">
              <li>
                <a href="#">
                  <i class="fa fa-refresh fa-fw"></i> Refresh
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-check-circle fa-fw"></i> Available
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-times fa-fw"></i> Busy
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-clock-o fa-fw"></i> Away
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <i class="fa fa-sign-out fa-fw"></i> Sign Out
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <ul class="chat">
            <li class="left clearfix">
              <span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Jack Sparrow</strong>
                  <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                  </small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="right clearfix">
              <span class="chat-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                  <strong class="pull-right primary-font">Bhaumik Patel</strong>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="left clearfix">
              <span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Jack Sparrow</strong>
                  <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="right clearfix">
              <span class="chat-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                  <strong class="pull-right primary-font">Bhaumik Patel</strong>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
            <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat">
                Send
              </button>
            </span>
          </div>
        </div>
        <!-- /.panel-footer -->
      </div>
      <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->