<div class="post">
  <div class="post-header post-header-margin">
    <%= image_tag current_user.avatar, class: "post-avatar" %>
    <span><%= link_to current_user.username, user_path(current_user) %></span>
  <div class="">
      <%= form_for @new_photos, multipart: true do |f| %>
        <div class="col-xs-8">
        <%= f.fields_for :comments do |comment|  %>
          <%= comment.text_area :content, class: "right-div" %>
          <%= comment.hidden_field :user_id, value: current_user.id %>
        <% end %>
        </div>

        <div class="col-xs-4 border-image">
          <img class="float-right", id="previewImage" style="border-bottom: 3px solid white"/>
        </div>

        <div class="col-xs-12 btn-post">
          <div class="col-xs-2">
        <%= f.submit "Post", class: "btn btn-default" %>
          </div>
          <div class="col-xs-2">
            <label class="btn btn-danger btn-sm image-upload" for="image_upload">
            <%= f.file_field :image, id: "image_upload", onchange: "loadImageFile(event)",style: "display:none" %>
            <i class="fa fa-upload" aria-hidden="true"></i>
            </label>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>
<script>
  var loadImageFile = function(event) {
  var previewImage = document.getElementById("previewImage");
  previewImage.src = URL.createObjectURL(event.target.files[0]);
};
</script>
