<div class="post" id="photo-id-<%= photo.id %>">
  <div class="post-header">
    <%= image_tag "3a9bdd452ff107dd46c8f13be9596dd6.jpg", class: "post-avatar" %>
    <span><%= link_to photo.user.username, user_path(photo.user)  %></span>
  </div>
  <div class="post-content">
    <%= image_tag photo.image, class: "post-main-img" %>
  </div>
  <div class="post-control">
    <div class="like-comment">
      <%= button_tag "", class: "button-like-comment liked" %>
      <%#= button_tag "", class: "button-like not-like" %>

      <%= button_tag "", class: "button-like-comment comment" %>
      <div class="count-like">
        <strong>100 likes</strong>
      </div>

      <div class="post-comments">
        <%= render photo.comments %>
      </div>

      <div class="load-post">
        <%= button_tag "view more 10 comments" %>
      </div>
      <hr>
      <%= form_for [photo, photo.comments.build] do |f| %>
        <%= f.text_area :content, rows: 2, cols: 60, class:"form-add-comment",
          placeholder: "Add a comment..." %>
        <%= f.submit "send", class: "btn-send btn-send-comment" %>
      <% end %>
    </div>
  </div>
</div>
