<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>
<%= form_for @new_photos do |f| %>
  <%= f.file_field :image %>
  <%= f.fields_for :comments do |comment|  %>
    <%= comment.text_area :content %>
  <% end %>
  <%= f.submit "upload" %>
<% end %>

<%= link_to "logout", destroy_user_session_path, method: :delete %>
